@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&family=Raleway:wght@300&family=Rowdies&family=Source+Sans+Pro&family=Zen+Old+Mincho&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.yellow, .red, .blue {
   font-weight: 300;
    font-size: 18px;
}

section {
  padding: 0 100px;
  background: url(images/FormBack6.jpeg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container {
  padding: 100px 40px;
  color: black;
  position: relative;
  max-width: 600px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.container h1 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: 'Zen Old Mincho', serif;
}

.container p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 1.35rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.email-box {
  height: 40px;
  display: flex;
  justify-content: center;
  
}

.email-box i {
  background: #267c9e;
  width: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.email-box i:hover {
  color: white; 
}

.tbox, .btn {
  border: none;
  outline: none;
}

.tbox {
  width: 0px;
  transition: 0.6s;
}

.email-box:hover > .tbox, .tbox:focus {
  width: 60px;
  padding: 0 10px;
}

.btn {
  background: #267c9e;
  color: black;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Zen Old Mincho', serif;
}

.btn:hover {
  background: #267c9e;
  color: white;
  font-weight: 300;
}


.container { 
  animation: fade 2s ease forwards;  
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  background-color: white;
  color: darkgrey;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 15px;
  height: 4vh;
  padding: 3px;
  font-family: 'Rowdies', cursive;
}

/*--------------------------------------------------*/

@media all and (min-width: 1024px) {

.email-box:hover > .tbox, .tbox:focus {
  width: 260px;
  padding: 0 10px;
}

.btn:hover {
  background: #267c9e;
  color: white;
  font-weight: 300;
}

}