* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

body {
  background: #333;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  padding: 0 100px;
  background: url(images/FormBack6.jpeg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container {
  padding: 100px 40px;
  color: black;
  position: relative;
  max-width: 600px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.container h1 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  color: black;
}

.container p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 1.35rem;
}

.email-box {
  height: 40px;
  display: flex;
  justify-content: center;
}

.email-box i {
  background: #666;
  width: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.tbox, .btn {
  border: none;
  outline: none;
}

.tbox {
  width: 0px;
  transition: 0.6s;
}

.email-box:hover > .tbox, .tbox:focus {
  width: 60px;
  padding: 0 10px;
}

.btn {
  background: #666;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  background-color: white;
  color: darkgrey;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 15px;
  height: 4vh;
  /*margin-top: 15px;*/
  padding: 3px;
  font-family: 'Rowdies', cursive;
}

/*--------------------------------------------------*/

@media all and (min-width: 1024px) {

  .email-box {
  height: 40px;
  display: flex;
  justify-content: center;
}

.email-box i {
  background: #666;
  width: 40px;
  line-height: 40px;
}

.tbox, .btn {
  border: none;
  outline: none;
}

.tbox {
  width: 0px;
  transition: 0.6s;
}

.email-box:hover > .tbox, .tbox:focus {
  width: 260px;
  padding: 0 10px;
}

.btn {
  background: #666;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

}

/*footer {*/
/*  margin-top: 150px;*/
/*}*/
